<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254669856824-m8r97bq2ddmkh3qdf8dd7892hr8b3fq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254669856824-m8r97bq2ddmkh3qdf8dd7892hr8b3fq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAaibwISD-WBy7VuS8Kl_kzlx2BpDyDTw8</string>
	<key>GCM_SENDER_ID</key>
	<string>254669856824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gpneto.cdma31</string>
	<key>PROJECT_ID</key>
	<string>lista-de-compras-674a8</string>
	<key>STORAGE_BUCKET</key>
	<string>lista-de-compras-674a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254669856824:ios:1c31f0feaa669b5f73c6cd</string>
	<key>DATABASE_URL</key>
	<string>https://lista-de-compras-674a8.firebaseio.com</string>
</dict>
</plist>